#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME=jenkinsapi
export PYBUILD_AFTER_INSTALL_python2 = rm -rv {destdir}/usr/bin
#d = $(CURDIR)/debian/jenkinsapi/usr/bin
#export PYBUILD_AFTER_INSTALL_python3 = mkdir -pv $d && mv -v {destdir}/usr/bin/js-beautify $d
# too many tests try to get content from jenkins.org
export PYBUILD_DISABLE=test

%:
	dh $@ --buildsystem=pybuild --with python2,python3
